<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>User Directory</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="wrapper">
    <h1>Index</h1>
    <div class="directory-box">
      {{#users}}
        <div class="profile">
          <img src="{{avatar}}" alt="">
          <h2><a href="/people/{{username}}">{{name}}</a></h2>
          {{#job}}
            <p>{{job}}, {{company}}</p>
          {{/job}}
          {{^job}}
          <p class="no-job">Available for hire</p>
          {{/job}}
        </div>
      {{/users}}
    </div>
  </div>
</body>

</html>
