body {
  font-family: sans-serif;
  justify-content: center;
}

h2 {
  font-weight: lighter;
  font-size: 36pt;
}

img {
  border-radius: 5em;
  border-style: solid;
  border-width: thin;
  border-color: #666;
}

.no-job {
  color: red;
}
